<div class="sidebar-content">
    <div class="user-profile">
        <img class="card-img-top" src="{{profileimg}}" alt="User Profile">
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item"><i class="fa fa-briefcase" aria-hidden="true"></i> Projects<span class="pull-right">{{projectcount}}</span></a>
        <a href="#" class="list-group-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> Messages<span class="pull-right">{{msgcount}}</span></a>
        <a href="#" class="list-group-item"><i class="fa fa-users" aria-hidden="true"></i> Followers<span class="pull-right">{{followerscount}}</span></a>
        <a href="#" class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
    </div>
</div>
